.container {
    max-width: 1200px;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.btn.active {
    background-color: #28a745;
    color: white;
}
.cart-icon {
    position: absolute;
    margin-top: 10%;
    top: 20px;
    right: 20px;
    z-index: 10; /* Ensures it's on top of other content */
}
body{
    padding-top: 80px;
}
@media (max-width: 768px) {
    .btn {
        font-size: 14px;
        padding: 8px 12px;
    }
    .cart-icon{
        margin-top: 18%;
    }
}
